.addressesContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .userMessage {
    display: flex;
    gap: 5px;
    color: var(--gray-dark);
  }
  
  .addressContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .billingAddressContainer,
  .shippingAddressContainer {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
  
  .addressTitle {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .addBillingText,
  .addShippingText {
    width: fit-content;
    font-size: 14px;
    font-weight: bold;
    color: var(--gray-dark);
    font-weight: 600;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
  }
  
  .addBillingText:hover,
  .addShippingText:hover {
    color: var(--primary-green);
  }
  
  .addressNotFoundMessage {
    font-size: 17px;
    font-style: italic;
    color: var(--gray-dark);
  }
  