.addToCart {
  background-color: var(--primary-blue);
  color: var(--white);
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 0.5px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: row-reverse;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.addToCart:active {
  background-color: var(--primary-blue-dark);
  scale: 0.97;
}

.addToCartText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  padding: 8px;
  transition: transform 0.2s ease-in-out;
}

.addToCartIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 769px) {
  .addToCartText {
    transform: translateX(-5%);
  }

  .addToCartIcon {
    transform: translateX(-500%);
    opacity: 0;
  }

  .addToCart:hover .addToCartIcon {
    opacity: 1;
    transform: translateX(35%) translateY(-8%);
  }

  .addToCart:hover .addToCartText {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .addToCart {
    border-radius: 6px;
  }

  .addToCartText {
    padding: 6px;
    font-size: 14px;
    gap: 10px;
  }

  .addToCartIcon {
    font-size: 1.125rem;
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 480px) {
  .addToCart {
    border-radius: 6px;
  }

  .addToCartText {
    padding: 4px;
    font-size: 0.875rem;
    gap: 8px;
  }
}