.addToCart {
  background-color: var(--primary-blue);
  color: var(--white);
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: var(--font-semibold);
  letter-spacing: 0.5px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: row-reverse;
}

.addToCart:active {
  background-color: var(--primary-blue-dark);
  scale: 0.97;
}

.addToCartText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5);
  width: 100%;
  padding: 8px;
  transition: transform 0.2s ease-in-out;
  transform: translateX(-5%);
}

.addToCartIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  transition: 0.2s ease-in-out;
  transform: translateX(-500%);
  opacity: 0;
}

.addToCart:hover .addToCartIcon {
  opacity: 1;
  transform: translateX(35%);
  transform: translateY(-8%);
}
.addToCart:hover .addToCartText {
  opacity: 1;
  transform: translateX(0%);
}
