.addressContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.billingAddressContainer,
.shippingAddressContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-9);
}

.addressTitle {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

/* Address Card */
.addressCardContainer {
  width: 100%;
  height: 100%;
  /* padding: 13px; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.addressCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.fullName {
  font-size: var(--font-md);
  font-weight: var(--font-semibold);
  color: #333;
}

.address,
.cityState,
.CountryPostcode,
.phoneNumber {
  font-size: var(--font-base);
  color: #333;
}

/* Address Not Found Message */
.addressNotFoundMessage {
  font-size: var(--font-md);
  font-style: italic;
  color: var(--gray-dark);
}
