.submitButton {
  width: 100%;
  background-color: var(--primary-blue);
  color: var(--white);
  border: none;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  align-self: flex-start;
}

.submitButton:hover {
  background-color: var(--primary-blue-dark);
}

.disabled {
  background-color: var(--primary-blue);
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* primary variant */

.primary {
  background-color: var(--primary-blue);
  color: var(--white);
}

.primary:hover {
  background-color: var(--primary-blue-dark);
}

.primary:disabled {
  background-color: var(--primary-blue);
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* secondary variant */

.secondary {
  background-color: var(--gray-muted);
  color: var(--white);
}

.secondary:hover {
  background-color: var(--gray-secondary);
}

.secondary:disabled {
  background-color: var(--gray-muted);
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* danger variant */

.danger {
  background-color: var(--error);
  color: var(--white);
}

.danger:hover {
  background-color: var(--error-dark);
}

.danger:disabled {
  background-color: var(--error);
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* success variant */

.success {
  background-color: var(--success);
  color: var(--white);
}

.success:hover {
  background-color: var(--primary-green-dark);
}

.success:disabled {
  background-color: var(--success);
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* warning variant */

.warning {
  background-color: var(--primary-orange);
  color: var(--white);
}

.warning:hover {
  background-color: var(--primary-orange-dark);
}

.warning:disabled {
  background-color: var(--primary-orange);
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* light variant */

.light {
  background-color: var(--white);
  color: var(--black);
}

.light:hover {
  background-color: var(--gray-surface);
}

.light:disabled {
  background-color: var(--white);
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
