.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carouselContainer {
  width: 100%;
}

.slideImage {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .slideImage {
    height: 50vh;
  }
}

@media (max-width: 768px) {
  .slideImage {
    height: 50vh;
  }
}

@media (max-width: 480px) {
  .slideImage {
    height: 45vh;
  }
}
