.cartTotals {
  background: var(--white);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  width: 100%;
}

.cartTotals h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--very-dark-gray);
}

.cartTotals p {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  font-size: 16px;
  color: var(--dark-gray);
  flex-wrap: wrap;
}

.cartTotals .discount {
  color: var(--error-dark);
  font-weight: 500;
}

.cartTotals hr {
  border-top: 2px solid var(--gray-dark);
  margin: 16px 0;
}

.total {
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price {
  font-weight: 700;
}

.checkoutButton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.checkoutButton button {
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: background 0.3s ease;
  background-color: var(--primary-blue);
  color: var(--white);
  border: none;
}

@media (max-width: 1024px) {
  .cartTotals {
    max-width: 500px;
    padding: 20px;
  }

  .cartTotals p {
    font-size: 14px;
  }

  .total {
    font-size: 16px;
  }

  .checkoutButton button {
    font-size: 14px;
    padding: 10px 0;
  }
}

@media (max-width: 480px) {
  .cartTotals {
    padding: 16px;
    border-radius: 10px;
  }

  .cartTotals h3 {
    font-size: 18px;
  }

  .cartTotals p {
    font-size: 14px;
    margin: 10px 0;
  }

  .total {
    font-size: 16px;
  }

  .checkoutButton button {
    font-size: 14px;
    padding: 10px;
  }
}
