.checkboxContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5);
}

.checkboxContainer input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
