.checkboxContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5);
}

.checkboxContainer input {
  cursor: pointer;
}

.small {
  --checkbox-size: 14px;
}

.medium {
  --checkbox-size: 18px;
}

.large {
  --checkbox-size: 24px;
}

.checkboxContainer input {
  width: var(--checkbox-size);
  height: var(--checkbox-size);
}
