.chip {
  display: inline-flex;
  align-items: center;
  padding: 2px 14px;
  font-size: 12px;
  color: var(--dim-gary);
  border-radius: 20px;
  background: var(--cool-light-blue-gray);
  letter-spacing: 1px;
}
