.TiffinContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 100px;
}

.CustomiseTiffinContainer,
.RegularTiffinContainer,
.BreakfastMenuContainer,
.SweetsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-6);
  width: 100%;
}

.TiffinCardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-9);
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .TiffinContainer {
    padding: 30px 60px;
  }

  .TiffinCardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .TiffinContainer {
    padding: 20px 40px;
  }

  .TiffinCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .TiffinContainer {
    padding: 20px 20px;
  }

  .TiffinCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .TiffinContainer {
    padding: 14px;
  }

  .TiffinCardContainer {
    grid-template-columns: 1fr;
  }
}
