.cardContainer {
  width: 100%;
  height: 100%;
  padding: 3px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.6px solid var(--gray-shadow);
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.cardContainer:hover {
  background-color: var(--gray-light);
}

.cardContainer:hover .cardIcon svg {
  color: var(--primary-green-soft);
}

.cardIcon {
  height: 78px;
  width: 67px;
  color: var(--gray-shadow);
}

.cardIcon svg {
  height: 100%;
  width: 100%;
  font-weight: var(--font-light);
  object-fit: cover;
  transition: color 0.3s ease-in-out;
}

.cardIconText {
  font-size: var(--font-base);
  font-weight: var(--font-semibold);
  text-transform: uppercase;
}
