.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
}

.dashboardCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-9);
}

.userMessage {
  display: flex;
  gap: var(--gap-3);
  color: var(--gray-dark);
}

.userName {
  font-weight: var(--font-semibold);
}
