.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  padding: 1rem;
}

.dashboardCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-9);
}

/* Tablet view: 2 columns */
@media screen and (max-width: 1024px) {
  .dashboardCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile view: 1 column */
@media screen and (max-width: 640px) {
  .dashboardCardContainer {
    grid-template-columns: 1fr;
  }
}

.userMessage {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-3);
  color: var(--gray-dark);
}

.userName {
  font-weight: var(--font-semibold);
}
