.tiffinDate {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--primary-blue-light);
  color: var(--white);
  padding: 8px 12px;
  border-top-left-radius: 8px;
  font-size: var(--font-sm);
  font-weight: var(--font-semibold);
}
