.emptyCartPage {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-8);
}

.emptyCartIcon {
  font-size: 10rem;
  font-weight: var(--font-bold);
  color: var(--gray-offwhite);
}

.emptyCartText {
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: var(--font-bold);
  color: var(--gray-solid-2);
}

.emptyCartButton {
  width: fit-content;
}
