.emptyCartPage {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 16px;
  text-align: center;
}

.emptyCartIcon {
  font-size: 160px; /* 10rem */
  font-weight: var(--font-bold);
  color: var(--gray-offwhite);
}

.emptyCartText {
  text-transform: capitalize;
  font-size: 48px;
  font-weight: var(--font-bold);
  color: var(--gray-solid-2);
}

.emptyCartButton {
  width: fit-content;
}

@media (max-width: 600px) {
  .emptyCartIcon {
    font-size: 96px;
  }

  .emptyCartText {
    font-size: 24px;
  }

  .emptyCartButton .Button {
    font-size: 14px;
    padding: 8px 20px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .emptyCartIcon {
    font-size: 128px;
  }

  .emptyCartText {
    font-size: 36px;
  }

  .emptyCartButton .Button {
    font-size: 16px;
    padding: 10px 24px;
  }
}
