.filterAndSort {
  width: 100%;
  font-size: var(--font-sm) !important;
  padding: 6px 10px !important;
  border-radius: 45px !important;
  outline: none !important;
  border: 2px solid var(--gray-solid-2) !important;
  cursor: pointer !important;
}
