.footer {
  background: linear-gradient(
    135deg,
    var(--gray-solid) 0%,
    var(--gray-solid-2) 100%
  );
  color: var(--white);
  padding: 50px 80px;
  font-family: "Arial", sans-serif;
  position: relative;
}

.footerContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: var(--gap-9);
}

.footerColumn {
  flex: 1;
  min-width: 220px;
  margin: 10px;
}

.footerHeading {
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footerText {
  text-align: justify;
  font-size: var(--font-lg);
  line-height: 1.8;
  margin-bottom: 15px;
  opacity: 0.9;
}

.readMoreBtn {
  background: none;
  border: 1px solid var(--white);
  color: var(--white);
  padding: 8px 16px;
  cursor: pointer;
  font-size: var(--font-lg);
  /* border-radius: 5px; */
  display: flex;
  align-items: center;
  gap: var(--gap-3);
  transition: all 0.3s ease;
}

.readMoreBtn:hover {
  background-color: var(--white);
  color: var(--gray-solid);
}

.arrowIcon {
  font-size: var(--font-lg);
}

.footerList {
  list-style: none;
  padding: 0;
}

.footerList li {
  margin-bottom: 12px;
}

.footerLink {
  color: var(--white);
  text-decoration: none;
  font-size: var(--font-lg);
  display: flex;
  align-items: center;
  gap: var(--gap-4);
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.footerLink:hover {
  opacity: 1;
}

.arrow {
  font-size: var(--font-lg);
  color: var(--white);
}

.icon {
  margin-right: 8px;
  font-size: var(--font-lg);
}

.socialLinks {
  margin-top: 15px;
}

.socialHeading {
  font-size: var(--font-lg);
  margin-bottom: 10px;
  font-weight: normal;
  opacity: 0.9;
}

.socialIcon {
  margin-right: 15px;
  font-size: var(--font-xl);
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s ease;
}

.socialIcon:hover {
  color: var(--primary-yellow); /* Orange color for hover */
}

.socialIcon .icon {
  font-size : var(--font-2xl);
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 30px auto 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  font-size: var(--font-sm);
  opacity: 0.8;
}

.paymentIcons {
  display: flex;
  align-items: center;
}

.paymentIcon {
  height: 20px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    text-align: left;
  }

  .footerColumn {
    margin: 20px 0;
  }

  .footerBottom {
    flex-direction: column;
    text-align: center;
    gap: var(--gap-7);
  }

  .paymentIcons {
    margin-top: 10px;
  }
}
