.billingFormColumn1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--gap-9);
}

.billingFormColumn2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-9);
}

.inputFieldContainer {
  display: flex;
  position: relative;
  flex-direction: column;
}

.errorMessage {
  color: var(--error);
  font-size: var(--font-base);
  margin-top: 5px;
  margin-left: 5px;
}

.label {
  padding: 0px 4px;
  cursor: pointer;
  margin-bottom: 4px;
}

.phoneInputWrapper {
  display: flex;
  align-items: flex-end;
}

.phoneCodeSelect {
  max-width: 80px;
}

.suggestionList {
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  background: var(--white);
  border: 1px solid var(--gray-border-light);
  width: 100%;
  max-height: 150px;
  min-width: 150px;
  max-width: 500px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.suggestionItem {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: var(--light-gray);
}

@media (max-width: 768px) {
  .billingFormColumn2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .phoneCodeSelect {
    max-width: 100%;
  }

  .errorMessage {
    font-size: var(--font-base);
  }

  .suggestionList {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .billingFormColumn2 {
    grid-template-columns: 1fr;
  }

  .label {
    font-size: var(--font-base);
  }

  .errorMessage {
    font-size: var(--font-base);
  }

  .suggestionItem {
    font-size: var(--font-base);
  }

  .suggestionList {
    max-width: 100%;
    font-size: var(--font-base);
  }
}
