.billingFormColumn1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--gap-9);
}

.billingFormColumn2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-9);
}

.inputFieldContainer {
  display: flex;
  flex-direction: column;
}

.errorMessage {
  color: red;
  font-size: var(--font-sm);
  margin-top: 5px;
  margin-left: 5px;
}

.label {
  padding: 0px 4px;
  cursor: pointer;
  margin-bottom: 4px;
}

.phoneInputWrapper {
  display: flex;
  align-items: flex-end;
}

.phoneCodeSelect {
  max-width: 80px;
}
