.container {
  display: flex;
  padding: 40px 140px;
}

.container2 {
  display: flex;
  width: 100%;
}

.range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px;
}

.sidebar {
  width: 340px;
  padding: 20px;
  border-radius: 5px;
}

.filterSection {
  margin-bottom: 20px;
}

.filterSection h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.filterSection input[type="range"] {
  width: 100%;
  margin: 10px 0;
}

.filterSection p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.filterbtn {
  background-color: green;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.topRatedItem {
  display: flex;
  align-items: center;
}

.topRatedImg {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-right: 10px;
}

.topRatedItem p {
  margin: 0;
}

.mainContent {
  width: 80%;
  flex-grow: 1;
  padding: 20px;
}

.sortingBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sortingOptions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.sortingBar select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.productGrid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.productGrid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.productGrid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.gridIcons {
  display: flex;
  gap: 4px;
  cursor: pointer;
}

.productCard h3 {
  font-size: 16px;
  margin: 10px 0 5px;
}
