.headingContainer {
  width: 100%;
  border-bottom: 2px solid var(--gray-shadow);
}

.title {
  width: fit-content;
  font-size: 40px;
  font-weight: var(--font-semibold);
  padding-bottom: 10px;
  margin-bottom: -2px;
  border-bottom: 2px solid var(--primary-blue);
}

.title.xs {
  font-size: var(--font-2xl);
}

.title.sm {
  font-size: 28px;
}

.title.md {
  font-size: 40px;
}

.titleColor {
  color: var(--primary-blue);
}

.note {
  margin: 0;
  font-size: var(--font-md);
  color: var(--gray-darker);
}
