:root {
  --black: #000000;
}
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-blue);
  padding: 7px 30px;
  color: var(--white);
}

.logoImage {
  height: 60px;
}

.logo {
  font-weight: var(--font-bold);
  border-radius: 6px;
}

.navLinks {
  display: flex;
  gap: var(--gap-5);
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: var(--font-lg);
  font-weight: var(--font-semibold);
  position: relative;
  padding: 4px 8px;
  color: var(--white);
  transition: color 0.3s ease;
}

.link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: width 0.3s ease;
}

.link:hover::before {
  width: 100%;
}

.linkActive {
  position: relative;
}

.linkActive::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
}

.headerIcons {
  display: flex;
  align-items: center;
  gap: var(--gap-3);
}

.icon {
  width: 45px;
  height: 45px;
  padding: 10px;
  cursor: pointer;
  color: var(--white);
}

.userDropdown {
  position: relative;
}

.userDropdownIcon {
  width: 45px;
  height: 45px;
  padding: 10px;
  cursor: pointer;
  color: var(--white);
}

.userDropdownMenu {
  position: absolute;
  top: 100%;
  right: -10px;
  background: var(--white);
  box-shadow: 0px 4px 6px var(--black-light-shadow);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 220px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 100;
}

.userDropdown:hover .userDropdownMenu {
  opacity: 1;
  visibility: visible;
}

.userDropdownItem {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--black);
  text-decoration: none;
  transition: color 0.2s ease;
}

.userDropdownItem:hover {
  color: var(--primary-blue);
  cursor: pointer;
}

.cart,
.wishlist {
  position: relative;
  display: flex;
  align-items: center;
}

.cartCount,
.wishlistCount {
  position: absolute;
  top: 3px;
  right: 0;
  background: var(--primary-pink);
  color: var(--white);
  border-radius: 50%;
  min-width: 18px;
  min-height: 18px;
  font-size: var(--font-sm);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourMenuDropdown {
  position: relative;
}

.ourMenuDropdownLink {
  font-size: var(--font-lg);
  font-weight: var(--font-semibold);
  color: var(--white);
  cursor: pointer;
  padding-bottom: 24px;
  text-decoration: none;
}

.ourMenuDropdownMenu {
  position: absolute;
  top: 130%;
  left: 0;
  background: var(--white);
  box-shadow: 0px 4px 6px var(--black-light-shadow);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 180px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  z-index: 100;
}

.ourMenuDropdown:hover .ourMenuDropdownMenu {
  opacity: 1;
  visibility: visible;
}

.ourMenuDropdownItem {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--black);
  transition: color 0.2s ease;
}

.ourMenuDropdownItem:hover {
  color: var(--primary-blue);
  cursor: pointer;
}
