.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  box-shadow: 0 0.125rem 4px rgba(0, 0, 0, 0.075);
  border-top: 5px solid var(--primary-blue);
  position: sticky;
  top: 0;
  z-index: 1030;
  padding: 0;
}

.brand {
  display: flex;
  align-items: center;
}

.logoLink {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.logoImage {
  height: 60px;
  width: auto;
}

.collapse {
  flex-grow: 1;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  padding-right: 0;
}

.authButtons {
  display: flex;
  align-items: center;
}

.btn {
  height: auto;
  line-height: normal;
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  background-color: transparent;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  margin-right: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: var(--primary-blue);
  color: var(--white);
}
