.productCard {
  position: relative;
  background: var(--white);
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.productCard_grid3,
.productCard_grid4 {
  gap: 3px;
}

.productImg2 {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.productImg3 {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 5px;
}

.productImg4 {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 5px;
}

.productName {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.rating {
  display: flex;
  align-items: center;
}

.price {
  font-weight: bold;
  font-size: 16px;
  color: var(--dark-gray);
}

.wishlist {
  height: 36px;
  width: 36px;
  background: #e4e4e475;
  position: absolute;
  top: 5%;
  right: 6%;
  z-index: 1;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
}

.wishlist:hover {
  background: #e4e4e4a5;
}

.wishlist:active {
  background: #e4e4e475;
}

.addToCart {
  background-color: var(--primary-blue);
  color: var(--white);
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}
