.productCard_grid2 {
  background: var(--white);
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.productCard_grid3 {
  background: var(--white);
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.productCard_grid4 {
  background: var(--white);
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.productImg2 {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.productImg3 {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 5px;
}

.productImg4 {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 5px;
}

.productName {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.addToCart {
  background-color: var(--primary-blue);
  color: var(--white);
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  /* margin-top: 10px; */
}
