.container {
  padding: 20px;
  max-width: 1250px;
  margin: 0 auto;
}

.Chip {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 0px;
}
.colorContainer{
  display: flex;
  gap: 12px;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.breadcrumb {
  color: var(--gray-muted);
}

.breadcrumb a {
  color: var(--gray-muted);
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.navigation {
  display: flex;
  gap: var(--gap-3);
}

.navButton {
  background: none;
  border: none;
  font-size: var(--font-lg);
  cursor: pointer;
  color: var(--gray-muted);
}

.navButton:disabled {
  color: var(--gray-border-light);
  cursor: not-allowed;
  opacity: 0.5;
}

.navButton:hover:not(:disabled) {
  color: var(--gray-steel);
}

.navIconPrev,
.navIconNext {
  width: 25px;
  height: 25px;
}

.navIconPrev {
  transform: rotate(180deg);
}

.productLayout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
}

.productImageContainer {
  height: 60vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 16px;
  border: 1px solid var(--gray-border);
  border-radius: 8px;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.thumbnailsContainer {
  display: flex;
  gap: var(--gap-5);
}

.thumbnail {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  overflow: hidden;
  cursor: pointer;
  padding: 4px;
  border: 1px solid var(--gray-border);
  border-radius: 8px;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: var(--gap-4);
}

.productDetails h1 {
  font-size: 28px;
  color: var(--gray-darkest);
}

.quantity {
  display: flex;
  align-items: center;
  gap: var(--gap-5);
}

.quantityButton {
  width: 30px;
  height: 30px;
  border: 1px solid var(--gray-border);
  background: var(--white);
  cursor: pointer;
  font-size: var(--font-lg);
  color: var(--gray-darkest);
}

.quantityInput {
  width: 40px;
  height: 30px;
  border: 1px solid var(--gray-border);
  text-align: center;
  font-size: var(--font-md);
  padding-top: 3px;
}

.addToCartContainer {
  width: fit-content;
}

.addToCart:hover {
  background-color: var(--primary-orange-dark);
}

.categoryContaine {
  color: var(--gray-deep);
  font-weight: var(--font-semibold);
}

.category {
  text-transform: capitalize;
  color: var(--gray-deep);
  font-weight: var(--font-normal);
}

.share {
  display: flex;
  align-items: center;
  gap: var(--gap-6);
  color: var(--gray-deep);
}

.shareIcons {
  display: flex;
  align-items: center;
  gap: var(--gap-2);
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.items {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr 1.5fr 1fr 1fr;
  align-items: center;
  gap: var(--gap-5);
  padding: 10px 0;
  color: var(--gray-deep);
}

.itemPrice {
  color: var(--primary-green-alt);
  font-weight: var(--font-semibold);
  letter-spacing: 0.6px;
}

.deleteIcon {
  cursor: pointer;
  color: var(--error-soft);
}

/* Responsive Design */
@media (max-width: 768px) {
  .productLayout {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }
}
