.ratingStarContainer {
  pointer-events: default;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.disabled {
  pointer-events: none;
}

.fill,
.unFill {
  font-size: var(--font-lg); 
}

.fill {
  color: gold;
}

.unFill {
  color: var(--black);
  opacity: 0.2;
}

@media (max-width: 768px) {
  .fill,
  .unFill {
    font-size: var(--font-xl);
  }
}

@media (max-width: 480px) {
  .fill,
  .unFill {
    font-size: var(--font-lg);
  }
}
