.container {
  display: flex;
  justify-content: center;
  padding: 40px 140px;
}

.content {
  flex: 3;
  padding-right: 20px;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--gray-darkest);
}

.section p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-deep);
  margin-bottom: 10px;
}

.sidebar {
  flex: 1;
  padding: 20px;
}

.sidebar h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--gray-darkest);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  font-size: 14px;
  color: var(--gray-deep);
  margin-bottom: 10px;
}

.sidebar ul li:before {
  content: "▸";
  margin-right: 10px;
  color: var(--gray-label);
}
