.relatedProductContainer {
  padding: 20px;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  gap: var(--gap-8);
  padding: 8px 0;
  width: 100%;
}

.simpleGridWrapper {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-9);
  justify-content: flex-start;
}

.relatedProductCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--black);
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.prevArrowIcon,
.nextArrowIcon {
  font-size: 1.5rem;
}

.nextArrowIcon {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .customArrow {
    width: 2rem;
    height: 2rem;
  }

  .prevArrowIcon,
  .nextArrowIcon {
    font-size: 1.25rem;
  }

  .relatedProductCard {
    padding: 4px;
  }
}

@media (max-width: 640px) {
  .customArrow {
    display: none;
  }

  .sliderWrapper {
    gap: var(--gap-4);
    padding: 4px 0;
  }
}
