.relatedProductContainer {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  gap: var(--gap-6);
  padding: 8px 0;
  width: 100%;
}

.relatedProductCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.customArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--black);
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  background-color: var(--very-light-gray);
}

.prevArrowIcon,
.nextArrowIcon {
  font-size: var(--font-xl);
}

.nextArrowIcon {
  transform: rotate(180deg);
}

@media (max-width: 1024px) {
  .sliderWrapper {
    gap: var(--gap-4);
    padding: 8px 0;
  }

  .customArrow {
    width: 32px;
    height: 32px;
  }

  .prevArrowIcon,
  .nextArrowIcon {
    font-size: var(--font-lg);
  }
}

@media (max-width: 640px) {
  .customArrow {
    display: none;
  }

  .sliderWrapper {
    gap: var(--gap-2);
    padding: 6px 0;
  }

  .relatedProductCard {
    padding: 4px;
  }
}
