.relatedProductCard {
  position: relative;
  background: var(--white);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: 1px solid var(--gray-border);
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  box-sizing: border-box;
}

.PriceContainer {
  display: flex;
  align-items: center;
  padding: 8px 0;
  gap: 8px;
}

.rating {
  display: flex;
  align-items: center;
}

.wishlist {
  position: absolute;
  height: 36px;
  width: 36px;
  background: var(--semi-transparent-pale-gray);
  top: 8px;
  right: 8px;
  z-index: 1;
  font-size: var(--font-xl);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
}

.relatedProductImgWrapper {
  width: 100%;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  overflow: hidden;
  border-radius: 6px;
}

.relatedProductImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 4px;
}

.relatedProductTitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .relatedProductCard {
    min-width: 240px;
    min-height: 250px;
    padding: 8px;
  }

  .relatedProductImgWrapper {
    height: 200px;
  }

  .relatedProductTitle {
    font-size: 0.95rem;
  }

  .wishlist {
    height: 32px;
    width: 32px;
    font-size: var(--font-lg);
  }

  .PriceContainer {
    padding: 6px 0;
    gap: 6px;
  }

  .contentWrapper {
    padding: 3px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .relatedProductCard {
    min-width: 220px;
    max-width: 240px;
    padding: 10px;
  }

  .relatedProductImgWrapper {
    height: 220px;
  }

  .relatedProductTitle {
    font-size: 1rem;
  }

  .wishlist {
    height: 34px;
    width: 34px;
    font-size: var(--font-lg);
  }

  .PriceContainer {
    padding: 6px 0;
    gap: 6px;
  }

  .contentWrapper {
    padding: 4px;
  }
}

@media screen and (min-width: 1025px) {
  .relatedProductCard {
    min-width: 250px;
    max-width: 270px;
  }

  .relatedProductImgWrapper {
    height: 220px;
  }

  .wishlist {
    height: 36px;
    width: 36px;
    font-size: var(--font-xl);
  }

  .PriceContainer {
    padding: 8px 0;
    gap: 8px;
  }
}
