.relatedProductCard {
  background: var(--white);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-4);
  cursor: pointer;
  transition: transform 0.2s ease;
  border: 1px solid var(--gray-border);
}

.PriceContainer {
  display: flex;
  align-items: center;
  gap: var(--gap-4);
}

.rating {
  display: flex;
  align-items: center;
}

.wishlist {
  position: absolute;
  height: 36px;
  width: 36px;
  background: var(--semi-transparent-pale-gray);
  top: 4%;
  right: 5%;
  z-index: 1;
  font-size: var(--font-2xl);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
}

.relatedProductImgWrapper {
  width: 250px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  overflow: hidden;
  gap: var(--gap-4);
}

.relatedProductImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.dateChipWrapper {
  display: flex;
  justify-content: flex-start;
  padding-left: 0.25rem;
  height: 2rem; /* Fixed height for date chip */
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
