.select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: var(--font-md);
  background-color: transparent;
  cursor: pointer;
  min-width: 70px;
}

.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.SelectFieldContainer {
  width: 100%;
  height: 40px;
  border: 1px solid var(--gray-shadow);
  border-radius: 6px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.SelectFieldContainer select {
  field-sizing: content;
}

.select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: var(--font-md);
  background-color: transparent;
  cursor: pointer;
}

.label {
  padding: 0px 4px;
  cursor: pointer;
  margin-bottom: 4px;
}

.selectfocus {
  outline: none;
  border-color: var(--primary-blue);
}

.errorMessage {
  color: var(-error);
  font-size: var(--font-sm);
  margin-top: 4px;
}
