.showOptionsContainer {
  display: flex;
  align-items: center;
  gap: var(--gap-5);
}

.showOptionsText {
  display: flex;
  align-items: center;
  gap: var(--gap-4);
}

.showOptionsItems {
  display: flex;
  align-items: center;
  gap: var(--gap-4);
  color: var(--gray-medium);
  font-weight: var(--font-normal);
}

.showOptions {
  cursor: pointer;
  color: var(--gray-medium);
  transition: all 0.2s ease-in-out;
}

.showOptions:hover {
  color: var(--black);
}

.showOptionsActive {
  cursor: pointer;
  color: var(--black);
}
