.showOptionsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.showOptionsText {
  display: flex;
  align-items: center;
  gap: 8px;
}

.showOptionsItems {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--gray-medium);
  font-weight: 400;
}

.showOptions {
  cursor: pointer;
  color: var(--gray-medium);
  transition: all 0.2s ease-in-out;
}

.showOptions:hover {
  color: var(--black);
}

.showOptionsActive {
  cursor: pointer;
  color: var(--black);
}
