.sidebar {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  background-color: var(--white);
  color: var(--black);
  transition: right 0.3s ease;
  z-index: 1000;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  border-radius: 8px 0 0 8px;
  flex-direction: column;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: opacity 0.3s ease;
}
.deleteButton {
  cursor: pointer;
}

.sidebar.open {
  right: 0;
}

.sidebarContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noProduct {
  font-size: var(--font-sm);
  font-weight: var(--font-medium);
  text-align: center;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 14px;
  font-size: var(--font-2xl);
  cursor: pointer;
  text-align: right;
  border-bottom: 2px solid var(--gray-border);
}

.closeIcon:hover {
  color: var(--primary-blue);
  scale: 1.3;
}

.checkoutBtn {
  background-color: var(--gray-light);
  color: var(--black);
  padding: 10px;
  font-size: var(--font-md);
  cursor: pointer;
  width: 100%;
}

.checkoutBtn:hover {
  background-color: var(--gray-border);
}

.cartContainer {
  height: 100%;
  overflow: auto;
}
.emptyCartText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cartContainer::-webkit-scrollbar {
  width: 4px;
}

.cartContainer::-webkit-scrollbar-thumb {
  background-color: var(--gray-muted);
  border-radius: 4px;
}

.cartItem {
  display: flex;
  align-items: center;
  gap: var(--gap-8);
  padding: 16px;
  border-bottom: 1px solid var(--gray-border);
}

.cartItemImageContainer {
  width: 80px;
  height: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-border);
  padding: 4px;
  border-radius: 8px;
}

.cartItemImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.cartItemDetails {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartItemName {
  font-weight: var(--font-medium);
  margin-bottom: 5px;
}

.cartItemCalculation {
  font-size: var(--font-sm);
  display: flex;
  align-items: center;
  gap: var(--gap-3);
  color: var(--gray-soft);
}

.quantity,
.multiply {
  color: var(--gray-soft);
  font-size: var(--font-md);
}

.price {
  font-size: var(--font-md);
  font-weight: var(--font-medium);
  color: var(--primary-blue);
}

.deleteIcon {
  font-size: 1.16px;
  color: var(--gray-soft);
  transition: color 0.2s ease-in-out;
}

.deleteIcon:hover {
  color: var(--red);
}

.cartItemSubtotal {
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-top: 0;
  border-top: 2px solid var(--gray-border);
}

.subtotalContainer {
  padding: 16px 0;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtotalButtons {
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
}

.viewCart {
  border: 2px solid var(--gray-border);
  border-radius: 8px;
  overflow: hidden;
}
