.tabsContainer {
  width: 100%;
  margin: 24px 0px;
  border: 1px solid var(--gray-border);
  border-radius: 8px;
}

.tabButtons {
  display: flex;
  border-bottom: 1px solid var(--gray-border);
}

.tabButton {
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

.active {
  border-bottom: 3px solid #007bff;
  color: #007bff;
  background-color: var(--white);
}

.tabContent {
  padding: 20px;
  height: 50vh;
  overflow-y: auto;
}
