.wishlistContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
  padding: 40px 120px;
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--gap-4);
}

.headingContainer {
  width: 100%;
  display: flex ;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  flex-wrap: wrap;
  gap: 20px;
}

.headingTitle {
  width: fit-content;
  padding-bottom: 15px;
  font-weight: var(--font-bold);
  margin-bottom: -2px;
  border-bottom: 2px solid var(--primary-blue);
  font-size: 24px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-5);
  flex-wrap: wrap;
  width: 100%;
}

.headerRightSide {
  display: flex;
  align-items: center;
  gap: var(--gap-5);
  flex-wrap: wrap;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}

.headerRightSide .listIcon {
  font-size: 28px;
}

@media (max-width: 1366px) {
  .wishlistContainer {
    padding: 40px 80px;
  }

  .gridWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1024px) {
  .wishlistContainer {
    padding: 30px 40px;
  }

  .gridWrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .headingTitle {
    font-size: 22px;
  }

  .icon {
    font-size: 22px;
  }

  .headerRightSide .listIcon {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .wishlistContainer {
    padding: 20px;
  }

  .gridWrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .headingTitle {
    font-size: var(--font-xl);
  }

  .icon {
    font-size: var(--font-xl);
  }

  .headerRightSide {
    display: flex;
    align-items: center;
    gap: var(--gap-2);
  }

  .headerRightSide .listIcon {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .wishlistContainer {
    padding: 20px;
  }

  .gridWrapper {
    grid-template-columns: 1fr;
  }

  .headingTitle {
    font-size: var(--font-lg);
  }

  .icon {
    font-size: var(--font-lg);
  }

  .headerRightSide {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-2);
  }

  .headerRightSide .listIcon {
    font-size: 22px;
  }
}
