.wishlistContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
  padding: 40px 140px;
}

.headingContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.headingTitle {
  width: fit-content;
  padding-bottom: 15px;
  font-weight: var(--font-bold);
  margin-bottom: -2px;
  border-bottom: 2px solid var(--primary-blue);
}

.headerContainer {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLeftSide p {
  font-size: var(--font-xl);
  font-weight: var(--font-semibold);
}

.headerRightSide {
  display: flex;
  align-items: center;
  gap: var(--gap-5);
}

.icon {
  font-size: var(--font-xl);
  cursor: pointer;
}

.headerRightSide .listIcon {
  font-size: 28px;
}
