:root {
  --font-default: sans-serif;

  /* Font Sizes */
  --font-xs: 10px;
  --font-sm: 12px;
  --font-base: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-2xl: 24px;
  --font-3xl: 30px;
  --font-4xl: 36px;
  --font-5xl: 48px;

  /* font-weight */
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  /* Spacing */
  --gap-0: 0;
  --gap-1: 2px;
  --gap-2: 4px;
  --gap-3: 6px;
  --gap-4: 8px;
  --gap-5: 10px;
  --gap-6: 12px;
  --gap-7: 14px;
  --gap-8: 16px;
  --gap-9: 20px;
  --gap-10: 24px;
  --gap-11: 28px;
  --gap-12: 32px

  --black: #000000;
  --white: #ffffff;
  --light-gray: #f0f0f0;
  --ultra-light-gray: #f9f9f9;
  --gray-light: #f5f5f5;
  --cool-light-blue-gray: #e2e8f0;
  --very-dark-gray: #222222;
  --dark-gray: #444444;
  --gray-lighter: #f9fafb;
  --gray-lightest: #ffffff26;
  --gray-offwhite: #eee;
  --gray-surface: #e6e6e6;
  --off-white: #fafafa; 
  --gray-border: #ddd;
  --gray-medium: #c3c3c3;
  --gray-regular: #929292;
  --gray-dark: #7a7a7a;
  --gray-darker: #777777;
  --gray-muted: #6c757d;
  --gray-secondary: #5c636a;
  --gray-soft: #908f8f;
  --gray-placeholder: #6b7280;
  --gray-solid: #1a1a1a;
  --gray-solid-2: #2c2c2c;
  --gray-shadow: #0000001b;
  --dim-gary: #686867;
  --charcoal-navy: #111827;
  --almost-white: #f9fafb;
  --light-cool-gray: #e5e7eb;
  --royal-blue: #005bb5;
  --gummetal: #1f2937;
  --very-light-cool-gray: #f3f4f6;
  --pale-gray-blue: #d1d5db;
  --vivid-azure-blue: #0070f3;
  --very-light-gray: #f2f2f2;
  --pale-sky-blue: #d7e7f9;
  --dim-gray: #6a6a6a;
  --semi-transparent-light-gray: #f0f0f09b;
  --semi-transparent-pale-gray: #e4e4e4a5;

  /* Primary / Accent Colors */
  --primary-green: #218837;
  --primary-green-dark: #218838;
  --primary-green-soft: #2188378b;
  --gray-balanced: #888888; 
  --gray-very-light: #e0e0e0; 
  --primary-blue: #46a3df;
  --primary-blue-dark: #3592cd;
  --primary-blue-soft: #46a2df20;
  --primary-orange: #ffa500;
  --primary-orange-dark: #e69500;
  --primary-orange-alt: #f59e0b;
  --primary-yellow: #f39c12;
  --primary-pink: #c31b7f;
  --primary-green-light: #83b735;
  --primary-green-alt: #27ae60;
  --primary-blue-light: #83c1ea;

  /* Status / Feedback Colors */
  --success: #28a745;
  --error: #ff0000;
  --error-dark: #e60000;
  --error-alt: #ef4444;
  --error-soft: #f85353;
  --info: #0b2e66;

  /* UI / Utility Colors */
  --text-muted: #4b5563;
  --text-dark: #374151;
  --text-light: #d1d5db;
  --text-link: #2057b0;

  --black-translucent: #000000ac;
  --gray-medium-transparent: #838282e0;
  --gray-deep: #666666;
  --black-light-shadow: #0000001a;
  --gray-darkest: #333333;
  --gray-steel: #555555;
  --gray-border-light: #cccccc;
  --blue-soft-overlay: #46a2df20;
  --gray-label: #999999;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-default);
  color: var(--black);
}

button {
  cursor: pointer;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

.page-header {
  background: linear-gradient(rgba(6, 3, 21, 0.5), rgba(6, 3, 21, 0.5)),
    url(../public/grocery_1.jpg) center center no-repeat;
  background-size: cover;
}

.errorMessage {
  color: var(--error);
}

.price {
  font-weight: 600;
  margin: 0;
}

.originalPrice {
  font-weight: 600;
  text-decoration: line-through;
  color: var(--error);
  margin: 0;
}

@media screen and (max-width: 480px) {
  .price {
    font-size: 12px;
  }
  .originalPrice{
    font-size: 12px;
  }
}

@media screen and (max-width: 640px) {
  .price {
    font-size: 12px;
  }
  .originalPrice{
    font-size: 12px;
  }
}
@media screen and (max-width: 1024px) {
  .price {
    font-size: 14px;
  }
  .originalPrice{
    font-size: 14px;
  }
}
 
.discount{
  color: var(--primary-green-alt);
  font-weight: var(--font-semibold);
}

.loadingContainer {
  height: 100%;
  width: 100%;
}

.breadcrumb-link {
  color: white;
  font-size: var(--font-lg);
  text-decoration: none;
  transition: color 0.3s ease;
}

.breadcrumb-link:hover {
  color: var(--primary-blue);
}

.Button {
  width: 100%;
  background-color: var(--primary-blue);
  color: var(--white);
  border: none;
  padding: 12px 24px;
  font-weight: var(--font-medium);
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

.Button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.sm {
  padding: 8px 16px;
}

.md {
  padding: 12px 24px;
}